/* --------- Portfolio Show Mobile App Structure Styles------------------*/

h1 {
        font-size: 18px !important;
}

img.logo {
        float: left;
        margin: 10px 0 0 20px;
}

.campus {
        margin: 0 auto;
        width: 288px;
}

.campus img {
        border: solid 1px #c3c3c3;
        border-radius: 5px;
}
