/* --------- Portfolio Show Mobile App Structure & Styles------------------*/

body {
	white-space: normal !important;
}

h1 {
        font-size: 18px !important;
}

img.logo {
        float: left;
        margin: 10px 0 0 20px;
}

.dept_head {
	font-size: 24px !important;
	padding-bottom: 15px;
}

.ui-content img {
	float: left;
	margin: 20px 15px 0 0;
}

.ui-li-desc {
	white-space: normal !important;
}

.campus {
	background: url(../images/show_strip.jpg) 0 0 no-repeat;
	border: solid 1px #c3c3c3;
        border-radius: 5px;
	height: 190px;
	margin: 0 auto;
	width: 290px;
}

.portfolio_class li a img {
	margin-top: 0;
}

.gd {
	margin-bottom: 30px;
}

#grad_list li {
	font-weight: bold;
}

h2 {
	margin-bottom: 13px;
}
